<%- include('_header.ejs') %>
<div>
  <H1>Customer Details Web App</H1>
  <p> for navigation please head on project documentation</p>
  <a href="https://github.com/ykgautam09/customer-details#customer-details-web-app">Click here...</a>
</div>
  <%- include('_footer.ejs') %>